@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "adelia";
    src: url("/fonts/adelia.ttf") format("truetype");
}

.font-adelia {
    font-family: "Adelia", cursive;
}
